* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  margin: 50px auto;
  width: 80%;
}

.container .title h1 {
  text-align: center;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.inputValue {
  display: flex;
  gap: 8px;
  margin-top: 30px;
}

.inputValue input {
  padding: 10px 14px;
  border-radius: 6px;
  background: #f0ebeb;
  border: 2px solid rgb(131, 129, 129);
  outline: none;
  width: 100%;
}

.inputValue input:focus {
  border: 2px solid rgb(143, 143, 150);
  box-shadow: 0 0 3px rgba(126, 124, 124, 0.9);
}

.inputValue .short {
  padding: 10px 14px;
  border-radius: 5px;
  background: rgb(214, 13, 13);
  border: 1px solid rgb(143, 143, 150);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.resultShorten {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.resultShorten input {
  padding: 10px 14px;
  font-size: 0.9em;
  border-radius: 5px;
  width: 100%;
  border: 2px solid rgb(131, 129, 129);
  flex: 1;
  color: #383636;
  font-weight: 500;
  outline: none;
}
.resultShorten input:focus {
  border: 2px solid rgb(143, 143, 150);
  box-shadow: 0 0 3px rgba(126, 124, 124, 0.9);
}

.resultShorten button {
  padding: 10px 14px;
  border-radius: 5px;
  flex: 2;
  background: rgb(214, 13, 13);
  outline: 1px solid rgb(255, 255, 255);
  border: 1px solid rgb(143, 143, 150);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9em;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 50px auto;
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin: 50px auto;
    width: 40%;
  }
}

/* background animate */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 65%;
  width: 97px;
  height: 97px;
  bottom: -97px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 7%;
  width: 95px;
  height: 95px;
  bottom: -95px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 41%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 4s;
}
.background li:nth-child(3) {
  left: 36%;
  width: 111px;
  height: 111px;
  bottom: -111px;
  animation-delay: 3s;
}
.background li:nth-child(4) {
  left: 35%;
  width: 140px;
  height: 140px;
  bottom: -140px;
  animation-delay: 3s;
}
.background li:nth-child(5) {
  left: 60%;
  width: 99px;
  height: 99px;
  bottom: -99px;
  animation-delay: 11s;
}
.background li:nth-child(6) {
  left: 74%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 14s;
}
.background li:nth-child(7) {
  left: 79%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 3s;
}
.background li:nth-child(8) {
  left: 51%;
  width: 79px;
  height: 79px;
  bottom: -79px;
  animation-delay: 6s;
}
.background li:nth-child(9) {
  left: 69%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 17s;
}
.background li:nth-child(10) {
  left: 71%;
  width: 84px;
  height: 84px;
  bottom: -84px;
  animation-delay: 13s;
}
.background li:nth-child(11) {
  left: 89%;
  width: 132px;
  height: 132px;
  bottom: -132px;
  animation-delay: 34s;
}
.background li:nth-child(12) {
  left: 2%;
  width: 98px;
  height: 98px;
  bottom: -98px;
  animation-delay: 6s;
}
